<div class="input">
  <div class="text">Ширина пола</div>
  <input type="number" [(ngModel)]="floorWidth">
</div>
<div class="input">
  <div class="text">Длинна пола</div>
  <input type="number" [(ngModel)]="floorHeight">
</div>
<div class="input">
  <div class="text">Ширина доски (минимум 20)</div>
  <input type="number" [(ngModel)]="boardWidth" min=20>
</div>
<div class="input">
  <div class="text">Длинна доски (минимум 20)</div>
  <input type="number" [(ngModel)]="boardHeight" min=20>
</div>
<floor-component
  [floorWidth]="floorWidth"
  [floorHeight]="floorHeight"
  [boardWidth]="boardWidth"
  [boardHeight]="boardHeight"
  (redEmit)=saveRed($event)
  (greenEmit)=saveGreen($event)>
</floor-component>
